@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > h1 {
        font-size: 3em;
    }

    header > nav > ul > li > a {
        padding: 13px;
    }

    header > nav > ul > li > a#cadastro {
        margin-left: 7px;
        margin-right: 7px;
    }

    header > nav > ul > li#contato {
        display: inline;
    }
    
    main {
        margin: auto;
        width: 750px;
        border-radius: 5px;
    }
}